.about-me {
    text-align: justify;
    margin: $margin-top;

    &__items {
        display: grid;
        column-gap: 20px;
        row-gap: 50px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 500px));
        justify-content: center;
    }

    &__image-footer {
        display: flex;
        flex-direction: column;
    }

    &__image {
        position: relative;
        padding: 0px 0px 105% 0px;
        background: transparent;
        background: radial-gradient(circle at center, $color3 5%, transparent 70%);

        & img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
        }
    }

    &__footer {
        text-align: center;
        padding: 15px;
        font-size: 60px;
        background: linear-gradient(90deg, $color2 0%, $color3 100%);
        border-radius: 20px;
        box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.3);
    }

    &__text {
        text-align: justify;
        font-size: 18px;

        & p {
            text-indent: 10%;
            color: $color5;
        }
    }
}