.header {
  // font-family: "Open sans";
  // font-family: "Ubuntu";
  // font-family: sans-serif;
  // font-family: Georgia;
  // font-family: Calluna;
  // font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  // font-family: "Lucida Console", Courier, monospace;
  // font-family: Garamond;
  font-family: "Trebuchet MS";
  font-weight: normal;
  text-transform: uppercase;

  position: fixed;
  z-index: 3;
  width: 100%;

  padding: 5px 2%;

  box-shadow: 0 10px 50px 0 $gradient_color2, inset 0 10px 50px 0 $gradient_color2;
  align-items: center;
  display: grid;

  &::after {
    content: "";
    background: $gradient_color2;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }

  &__logo {
    display: inline-block;
    @include adaptiv-value("width", 70, 50, 0);
    @include adaptiv-value("height", 70, 50, 0);
    overflow: hidden;
    position: relative;
    border-radius: 50px;

    background: linear-gradient(to right, $gradient_color1, $gradient_color2) border-box;

    & img {
      max-width: 96%;
      /* в данном случае убирает срезание снизу лого. В видео был срез */
      display: block;
    }
  }

  &__burger {
    display: none;
  }

  &__menu {
    grid-column: 3 / 4;
  }

  &__list {
    display: grid;
    grid-auto-flow: column;
    text-align: center;
    align-items: center;

    & li {
      margin: 0 0 0 20px;

      &.header__telephone {
        margin: 0 0 0 60px;
      }
    }
  }

  &__link {
    @include adaptiv-value('font-size', 15, 8, 0);
    text-decoration: none;
    transition: all 1s ease;

    &_hover:hover {
      color: $repertoire_title_color;
    }
  }

  &__whatsapp,
  &__gmail {
    position: relative;
    display: block;
    width: 25px;
    height: 25px;
    justify-self: center;
    background-repeat: no-repeat;

    &:hover {
      top: -3px;
    }
  }

  &__whatsapp {
    background-image: url("../svg/header/header__whatsapp.svg");
  }

  &__gmail {
    width: 40px;
    height: 40px;
    background-image: url("../svg/header/header__gmail.svg");
  }

  @media (max-width: $media_iPad) {
    & {
      grid-template: 1fr / 1fr 0fr;
    }

    &__logo {
      flex: 0 0 40px;
    }

    &__whatsapp,
    &__gmail {
      transform: translate(-50%, 0px);
      position: relative;
      left: 50%;
    }

    &__burger {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      z-index: 99999;

      &.active {
        &:before {
          transform: rotate(45deg);
          top: 9px;
        }

        &:after {
          transform: rotate(-45deg);
          bottom: 9px;
        }

        & span {
          transform: scale(0);
        }
      }

      & span {
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
      }

      &:before,
      &:after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
      }

      &:before {
        top: 0;
      }

      &:after {
        bottom: 0;
      }
    }

    &__menu_burger {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      /* добавляет скролл, когда не влазиет содержимое */
      overflow: auto;
      transition: all 0.3s ease 0s;
      @include mainGradient;
      padding: 70px 10px 20px 10px;
      z-index: 99998;

      &.active {
        top: 0;
      }
    }

    &__list_burger {
      display: block;

      & li {
        margin: 20px 0 0 0;

        &:first {
          margin: 0;
        }

        &.header__telephone {
          margin: 20px 0 0 0;
        }
      }
    }

    &__link_burger {
      font-size: 24px;
    }
  }
}