@import 'wrapper';

.title {
  margin: 0 0 50px 0;
}

.main {
  // margin: 140px 15px 70px 15px;
  position: relative;
  /* Чтобы занимал оставшееся пространство */
  flex-grow: 1;
}

.hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.content {
  margin-top: 100px;

  // line-height: 150%;
  & section {
    &:not(.repertoire):not(.slider) {
      margin: 0 auto;
      @include adaptiv-value('padding', 50, 35, 0);
    }

    &.slider>.title {
      @include adaptiv-value('padding-left', 50, 35, 0);
    }
  }



  &__title {
    line-height: 50px;
    @include adaptiv-value('padding-left', 50, 35, 0);
  }

  &__pros {}

  &__about-me {}

  &__video {}

  &__cards {}

  &__composition {}

  &__slider {}

  &__players {}

  & p {}
}