@import 'wrapper';

.title {
  margin: 0 0 50px 0;
}

.main {
  margin: 140px 15px 70px 15px;
  position: relative;
  /* Чтобы занимал оставшееся пространство */
  flex-grow: 1;
}

h1 {
  text-shadow: 10px 4px 4px rgba(0, 0, 0, 0.25);
  @include adaptiv-value('font-size', 48, 40, 0);
  font-style: italic;
  letter-spacing: 9.6px;
  text-align: center;
}

.hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  @include adaptiv-value('padding-left', 15, 0, 0);
  @include adaptiv-value('padding-right', 15, 0, 0);
  font-size: 18px;
  line-height: 150%;

  &__title {
    margin: 0 0 50px 0;
    line-height: 50px;
  }

  &__pros {
  }

  &__about-me {
  }

  &__video {
  }

  &__cards {
  }

  &__composition {
  }

  &__slider {
  }

  &__players {
  }

  & p {
  }
}