.pros {

    &__items {
        display: grid;
        column-gap: 30px;
        row-gap: 50px;
        grid-template-columns: repeat(auto-fit, minmax(250px, .4fr));
        justify-content: center;
    }

    &__item {
        display: grid;
        grid-auto-flow: column;
        grid-template: 80px 1fr / 1fr;
        grid-gap: 30px;
        padding: 40px;
        border-radius: 30px;
        align-items: center;
        justify-items: center;
        text-align: center;
    }

    &__image {

        & img {
            max-width: 80%;
        }
    }

    &__text {
        color: $text_color;
    }
}