.repertoire {

  &__body {
    padding: 50px;
  }

  &__items {
    display: inline-block;
  }

  &__item>ul>li {
    list-style: inside;
    color: $color1;

    &::marker {
      color: $color1;
    }

    & form {
      display: inline-block;
    }
  }

  &__title {
    color: $color5;
    display: inline-block;
    @include adaptiv-value('font-size', 36, 26, 0);
    cursor: pointer;
    transition: all 1s ease;
    margin-bottom: 20px;

    &:before {
      display: inline-block;
      width: 10px;
      content: "+";
      margin-right: 20px;
      color: $color3;
    }

    &_hover:hover {
      color: $color3;

      &:before {
        content: "-";
      }
    }

    &_pressed {
      color: $color3;

      &:before {
        content: "-";
      }
    }
  }

  &__song-list {}

  &__btn-download {
    @include buttonDesign;
  }
}

.song-list {
  height: auto;
  max-width: 660px;
  max-height: 300px;
  overflow: auto;
  padding: 10px;
  border: 5px outset $color3;
  border-radius: 10px;
  color: $color1;
  background-color: $color5;

  // &>li {
  //   list-style: disc;

  //   &::marker {
  //     color: $color5;
  //   }
  // }

  @include adaptiv-value('margin-left', 150, 0, 0);
  @include adaptiv-value('font-size', 30, 20, 0);

  &__item {
    font-size: 20px;
    line-height: 24px;
    color: $color1;
    margin-top: 5px;


    &:last-child {
      margin-top: 0;
    }
  }

  &__group-name {
    color: $color1;

    &_title {
      color: $color3;
      filter: contrast(50%);
    }
  }

  &_hide {
    display: none;
  }
}

.executor {
  text-transform: uppercase;
}