.slider {
  padding: 50px 0;

  &__title {}
}

.image-slider {
  padding: 0px 0 70px 0;

  &__wrapper {}

  &__slide {}

  &__image {
    & img {
      max-width: 700px;
      max-height: 500px;
    }
  }
}

.swiper-pagination, .swiper-pagination-current, .swiper-pagination-total {
  color: $color5;
}

.swiper-button-prev,
.swiper-button-next {
  font-size: 0;
  width: 73px;
  height: 73px;
  border-radius: 50%;
  background-size: contain;


  & img {
    width: 100%;
  }
}

.swiper-button-prev {
  transform: scale(-1, 1);
}