// Адаптивное свойство
$maxWidth: 1366;
$maxWidthContainer: 1200;

@mixin adaptiv-value($property, $startSize, $minSize, $type) {
    $addSize: $startSize - $minSize;

    @if $type==1 {
        // Только если меньше контейнера
        #{$property}: $startSize + px;

        @media (max-width: #{$maxWidthContainer + px}) {
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
        }
    }

    @else if $type==2 {
        // Только если больше контейнера
        #{$property}: $startSize + px;

        @media (min-width: #{$maxWidthContainer + px}) {
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
        }
    }

    @else {
        // Всегда
        #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
}

@mixin adaptiv-circle($startSize, $minSize, $type) {
    $addSize: $startSize - $minSize;
    $composition_size_item: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));

    @if $type==1 {
        grid-template: repeat(4, calc($composition_size_item / 2)) / repeat(auto-fit, $composition_size_item);
    }

    @else {
        grid-template: repeat(2, calc($composition_size_item / 2)) / repeat(2, $composition_size_item);
    }

}


$color1: rgb(255, 255, 255);
$color2: rgb(5, 165, 255);
$color3: rgb(124, 61, 160);
$color4: #000000;
$color5: #1F1E1E;
$color6: #BDBDBD;

// $color1: #D9A0FF;
// $color2: #FAD0DB;
// $color3: #ED71E2;

// $color1: #50117A;
// $color2: #EB426B;
// $color3: #7A1171;
// $text_color: black;
$text_color: #1F1E1E;
$var1: #464646;
$var2: #ffffff;
$var3: #50117A;
$var4: #BCBCBC;
$margin-top: 120px 0px 0px 0px;
$repertoire_title_color: #F0145A;

$gradient_color1: #50117A;
$gradient_color2: #7A1171;

$media_iPad: 768px;

@mixin mainGradient() {
    background: linear-gradient(180deg, $color1 0%, $color3 100%);
    // background: #B777EA;
}

@mixin elemGradient {
    background: linear-gradient(180deg, $color1 0%, $color2 45.83%, $color3 100%);
}

@mixin buttonDesign {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    display: inline-block;
    @include adaptiv-value('margin-bottom', 50, 5, 0);
    padding: 16px 71px;
    border-radius: 15px;
    color: $color1;
    background-color: $color5;

    &:hover {
      box-shadow: 0px 4px 91px rgba(5, 165, 255, 0.32), inset 0px 4px 13px rgba(0, 0, 0, 0.34);
    }
}