// Файл обнуляющих стилей
@import "nullstyle";

// Файл переменных
@import "variables";

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@font-face {
	font-family: "Monotype Corsiva";
	src: url("../fonts/monotypecorsiva.ttf") format("truetype");
}

* {
	color: #fff;
}

html,
body {
	font-family: 'Monotype Corsiva';
	height: 100%;
}

body.lock {
	overflow: hidden;
}

// Скроллбар
:root {
	--scrollbarBg: #50117A;
	--scrollbarThumb: #F0145A;
	--scrollbarWidth: 12px;
	--scrollbarBorder: 3px solid var(--scrollbarBg);
	--scrollbarBorderRadius: calc(var(--scrollbarWidth) / 2);
}

body {
	scrollbar-width: var(--scrollbarWidth);
	scrollbar-color: var(--scrollbarThumb) var(--scrollbarBg);
}

body::-webkit-scrollbar {
	width: var(--scrollbarWidth);
	background-color: var(--scrollbarBg);
}

body::-webkit-scrollbar-track {
	background: var(--scrollbarBg);
	border-radius: var(--scrollbarBorderRadius);
}

body::-webkit-scrollbar-thumb {
	background-color: var(--scrollbarThumb);
	border-radius: var(--scrollbarBorderRadius);
	border: var(--scrollbarBorder);
}

.preloader {
	/*фиксированное позиционирование*/
	position: fixed;
	/* координаты положения */
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	/* фоновый цвет элемента */
	@include mainGradient;
	/* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
	z-index: 1001;

	&__row {
		position: relative;
		top: 50%;
		left: 50%;
		width: 70px;
		height: 70px;
		margin-top: -35px;
		margin-left: -35px;
		text-align: center;
		animation: preloader-rotate 2s infinite linear;
	}

	&__item {
		position: absolute;
		display: inline-block;
		top: 0;
		background-color: #337ab7;
		border-radius: 100%;
		width: 35px;
		height: 35px;
		animation: preloader-bounce 2s infinite ease-in-out;

		&:last-child {
			top: auto;
			bottom: 0;
			animation-delay: -1s;
		}
	}
}

@keyframes preloader-rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes preloader-bounce {

	0%,
	100% {
		transform: scale(0);
	}

	50% {
		transform: scale(1);
	}
}

.loaded_hiding .preloader {
	transition: 0.3s opacity;
	opacity: 0;
}

.loaded .preloader {
	display: none;
}


.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	@include mainGradient;
}

.title {
	margin: 0 0 50px 0;
}

.header {
	font-family: 'Lobster', cursive;
	font-weight: normal;

	grid-area: header;
	padding: 5px 9%;

	box-shadow: 0 10px 50px 0 $gradient_color2, inset 0 10px 50px 0 $gradient_color2;
	align-items: center;
	display: grid;
	grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;

	&::after {
		content: "";
		background-image: linear-gradient(to bottom, #e341d3, #e341d3);
		opacity: 0.5;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		z-index: -1;
	}

	&__logo {
		display: inline-block;
		width: 70px;
		height: 70px;
		overflow: hidden;
		position: relative;
		border-radius: 50px;

		background: linear-gradient(to right, $gradient_color1, $gradient_color2) border-box;

		& img {
			max-width: 96%;
			/* в данном случае убирает срезание снизу лого. В видео был срез */
			display: block;
		}
	}

	&__burger {
		display: none;
	}

	&__menu {
		grid-column: 3 / 4;
	}

	&__list {
		display: grid;
		grid-auto-flow: column;
		justify-items: end;
		text-align: center;
		align-items: center;

		& li {
			margin: 0px 0px 0px 20px;
		}
	}

	&__link {
		@include adaptiv-value('font-size', 18, 16, 0);
		text-decoration: none;
		transition: all 1s ease;

		&_hover:hover {
			color: $repertoire_title_color;
		}

	}

	@media (max-width: $media_iPad) {
		& {
			grid-template: 1fr / 1fr 0fr;
		}

		&__logo {
			flex: 0 0 40px;
		}


		&__burger {
			display: block;
			position: relative;
			width: 30px;
			height: 20px;
			z-index: 3;

			&.active {
				&:before {
					transform: rotate(45deg);
					top: 9px;
				}

				&:after {
					transform: rotate(-45deg);
					bottom: 9px;
				}

				& span {
					transform: scale(0);
				}
			}

			& span {
				position: absolute;
				background-color: #fff;
				position: absolute;
				left: 0;
				width: 100%;
				height: 2px;
				top: 9px;
				transition: all 0.3s ease 0s;
			}

			&:before,
			&:after {
				content: '';
				background-color: #fff;
				position: absolute;
				width: 100%;
				height: 2px;
				left: 0;
				transition: all 0.3s ease 0s;
			}

			&:before {
				top: 0;
			}

			&:after {
				bottom: 0;
			}
		}

		&__menu_burger {
			position: fixed;
			top: -100%;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: auto;
			/* добавляет скролл, когда не влазиет содержимое */
			transition: all 0.3s ease 0s;
			@include mainGradient;
			padding: 70px 10px 20px 10px;

			&.active {
				top: 0;
			}
		}

		&__list_burger {
			display: block;

			& li {
				margin: 0px 0px 20px 0px;
			}
		}

		&__link_burger {
			font-size: 24px;
		}
	}
}

.full-screen {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background: url('../../img/index/full_screen.jpg') center / cover no-repeat fixed;

	&__body {
		flex: 1 1 auto;
		width: 100%;
		max-width: 800px;
		margin: 0px auto;
		display: flex;
		flex-direction: row;
		padding: 0px 20px;
	}

	&__title {
		@include adaptiv-value("font-size", 50, 30, 0);
		font-style: italic;
		letter-spacing: 9.6px;
		margin: auto 25% auto 0px;
	}

	&__button {
		@include adaptiv-value("width", 70, 50, 0);
		@include adaptiv-value("height", 70, 50, 0);
		margin: auto 0px;
		border-radius: 50%;
		background-color: rgba(0, 0, 0, 0);
		background-image: url("../svg/full-screen/__button.svg");
		background-size: contain;
		background-repeat: no-repeat;
	}

	&__video {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 4;
		overflow: auto;
		/* добавляет скролл, когда не влазиет содержимое */
		transition: all 0.3s ease 0s;
		background: rgba(0, 0, 0, 0.5);
		padding: 70px 10px 20px 10px;

		&.active {
			top: 0;

			& iframe {
				transform: translate(-50%, -50%);
				position: relative;
				left: 50%;
				top: 50%;
				width: 80%;
				height: 70%;
			}
		}
	}

	&__close {
		display: none;

		&.active {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			margin: 1vh;
			width: 30px;
			height: 20px;
			z-index: 3;

			&:before {
				transform: rotate(45deg);
				top: 9px;
			}

			&:after {
				transform: rotate(-45deg);
				bottom: 9px;
			}

			& span {
				transform: scale(0);
				position: absolute;
				background-color: #fff;
				position: absolute;
				left: 0;
				width: 100%;
				height: 2px;
				top: 9px;
				transition: all 0.3s ease 0s;
			}

			&:before,
			&:after {
				content: '';
				background-color: #fff;
				position: absolute;
				width: 100%;
				height: 2px;
				left: 0;
				transition: all 0.3s ease 0s;
			}
		}

		&_hover:hover {
			cursor: pointer;
		}
	}
}

.main {
	margin: 0px 15px;
	position: relative;
}

h1 {
	text-shadow: 10px 4px 4px rgba(0, 0, 0, 0.25);
	font-size: 48px;
	font-style: italic;
	letter-spacing: 9.6px;
	text-align: center;
}

.hidden {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

.content {
	max-width: 1200px;
	margin: 0px auto;
	padding: 50px 15px;
	font-size: 18px;
	line-height: 150%;

	&__title {
		margin: 0 0 50px 0;
		line-height: 50px;
	}

	&__pros {}

	&__about-me {}

	&__video {}

	&__cards {}

	&__composition {}

	&__slider {}

	&__players {}

	& p {}
}

.about-me {
	text-align: justify;
	margin: $margin-top;

	&__items {
		display: grid;
		column-gap: 20px;
		row-gap: 50px;
		grid-template-columns: repeat(auto-fit, minmax(250px, 500px));
		justify-content: center;
	}

	&__image-footer {
		display: flex;
		flex-direction: column;
	}

	&__image {
		position: relative;
		padding: 0px 0px 125% 0px;
		background: transparent;
		background: radial-gradient(circle at center, #9457EB 30%, #9457EB 10%, transparent 60%);

		& img {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}

	&__footer {
		text-align: center;
		padding: 15px;
		font-size: 60px;
		background: linear-gradient(90deg, $gradient_color1 0%, #AE3D88 100%);
		border-radius: 20px;
		box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.3);
	}

	&__text {
		text-align: justify;
		font-size: 25px;

		& p {
			text-indent: 10%;
		}
	}
}


.pros {
	margin: $margin-top;

	&__items {
		display: grid;
		column-gap: 30px;
		row-gap: 50px;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	}

	&__item {
		display: grid;
		grid-auto-flow: row;
		grid-template: 1fr / 80px 1fr;
		grid-gap: 15px;
		@include elemGradient;
		padding: 20px;
		border-radius: 30px;
		box-shadow: 4px 4px 50px 0 rgba(0, 0, 0, 1);
	}

	&__image {
		position: relative;
		padding: 0px 0px 90% 0px;

		& img {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}

	&__text {}
}

.video {
	max-width: 1200px;
	padding: 0px 15px;
	margin: 120px auto 0px auto;

	&__title {}

	&__items {
		display: grid;
		gap: 20px;
		grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
	}

	&__item {
		position: relative;
		margin: 0px 0px 15px 0px;
		padding: 0px 0px 56% 0px;
		box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, .5);

		& video,
		& iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.players {
	margin: $margin-top;
	display: grid;
	column-gap: 30px;
	row-gap: 50px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

	&__player {
		display: grid;
		grid-auto-flow: row;
		grid-template: 1fr minmax(40px, auto) / 1fr;
	}

	&__container {
		padding: 11px 8px;
		border-radius: 50px;
		background-color: #464646;
	}

	&__image {
		position: relative;
		padding: 0px 0px 120% 0px;

		& img {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			object-fit: cover;
			border-radius: 50px;
		}
	}
}

.cards {
	margin: $margin-top;
	text-align: center;

	&__cards {
		display: grid;
		column-gap: 30px;
		row-gap: 50px;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	}

	&__card {
		display: grid;
		grid-auto-flow: row;
		grid-template: minmax(100px, auto) 1fr / 1fr;
		border-radius: 90px;
		box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.3);
		@include elemGradient;
		overflow: hidden;
	}

	&__header {
		padding: 20px;
		box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.3);
		background: transparent;
		border-radius: 0px 0px 75px 75px;
	}

	&__icon {
		width: 50%;
		margin: 0 auto;

		& img {
			width: 100%;
		}
	}

	&__title {
		text-transform: uppercase;
		font-size: 28px;
	}

	&__content {
		text-align: justify;
		margin: 30px;
		text-indent: 10%;
		font-size: 20px;
		line-height: 1;
	}
}

.composition {
	margin: $margin-top;
	text-align: center;

	&__items {
		display: grid;
		column-gap: 60px;
		row-gap: 20px;
		@include adaptiv-circle(350, 310, 0);
		justify-content: center;

		@media (max-width: 768px) {
			& {
				@include adaptiv-circle(350, 310, 1);
			}
		}
	}

	&__item {
		display: grid;
		grid-template: 0.2fr 0.5fr / 1fr;
		row-gap: 25px;
		padding: 45px;
		border-radius: 50%;
		box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.3);
		overflow: hidden;
		@include elemGradient;
	}

	&__title {
		margin: 0 auto;
		@include adaptiv-value("font-size", 22, 20, 0);
	}

	&__text {
		margin: auto;
		@include adaptiv-value("font-size", 18, 16, 0);
	}
}

.repertoire {
	margin: $margin-top;

	&__items {
		display: inline-block;
	}

	&__item {}

	&__title {
		margin: 15px;
		display: inline-block;
		font-size: 40px;
		cursor: pointer;
		transition: all 1s ease;

		&:before {
			display: inline-block;
			width: 10px;
			content: "+";
			margin-right: 20px;
			color: $repertoire_title_color;
		}

		&_hover:hover {
			color: $repertoire_title_color;

			&:before {
				content: "-";
			}
		}

		&_pressed {
			color: $repertoire_title_color;

			&:before {
				content: "-";
			}
		}
	}

	&__song-list {}
}

.song-list {
	margin-left: 150px;
	font-size: 25px;


	&__item {}

	&__group-name {
		font-size: 30px;
		font-weight: bold;
	}

	&_hide {
		display: none;
	}
}

// Слайдер

.slider {
	&__title {}
}

.image-slider {
	padding: 0px 0 70px 0;

	&__wrapper {}

	&__slide {}

	&__image {
		& img {
			max-width: 700px;
			max-height: 500px;
		}
	}
}

.swiper-button-prev,
.swiper-button-next {
	font-size: 0;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0);
	background-size: contain;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

	& img {
		width: 100%;
	}
}

.swiper-button-next {
	transform: scale(-1, 1);
}

.footer {
	box-shadow: 0px 10px 50px #EB426B, inset 0px 10px 50px #EB426B;
	padding: 10px;

	&__container {
		display: flex;
		height: 65px;
		justify-content: center;
		align-items: center;

		& a {
			position: relative;
			width: 50px;
			height: 50px;
			@include adaptiv-value("margin-right", 70, 50, 0);

			&:last-child {
				margin: 0px;
			}
		}
	}

	&__instagram {
		background-image: url("../svg/footer/footer__instagram.svg");
		background-repeat: no-repeat;
	}

	&__vk {
		background-image: url("../svg/footer/footer__vk.svg");
		background-repeat: no-repeat;
	}

	&__telegram {
		background-image: url("../svg/footer/footer__telegram.svg");
		background-repeat: no-repeat;
	}

	&__whatsapp {
		background-image: url("../svg/footer/footer__whatsapp.svg");
		background-repeat: no-repeat;
	}

	&__instagram,
	&__vk,
	&__telegram,
	&__whatsapp {
		&_hover:hover {
			top: -5px;
		}
	}
}