.form {
  font-size: 24px;

  & form {
    display: flex;
    flex-direction: column;
    align-items: center;

    & input,
    & button {
      font-size: 24px;
      width: 250px;
      height: 40px;
      border-radius: 50px;
    }

    & label {
      margin: 0 0 5px 0;
      color: $color4;
    }

    & input {
      margin: 0 0 15px 0;
      padding: 10px;
      color: $color4;
      border: 5px solid $color5;

      &:focus {
        filter: contrast(200%);
      }
    }

    & button {
      @include buttonDesign;
      padding: 0 0;
    }
  }

  &__links {
    font-size: 20px;
    background-color: $color3;
    @include adaptiv-value('width', 400, 320, 0);
    height: 250px;
    padding: 15px;
    margin-bottom: 25px;
  }
}

.delete {
  width: 75px;
  margin: 0 auto;

  & .btn-delete {
    font-size: 24px;
    background-color: transparent;
    color: $color2;
    filter: contrast(25%);

    &:hover {
      filter: contrast(200%);
    }
  }
}

.error {
  margin: 0 0 20px 0;
}